.eshop-header {
			background: #fff;
			color: #fbc;
			/*border-bottom: 1px solid #ddd;*/
			/*text-transform: uppercase;*/
			padding: 10px 20px;
			font-weight: bold;
			font-size: 18px;
			font-family: "pacifico";
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.eshop-header .fa {
			font-size: 12px;
		}

		.eshop-description .fa {
			margin-right: 0;
		}

		.eshop-header .fa-search {
			font-size: 16px;
			margin-right: 10px;
		}

		.eshop-header .fa-bars {
			font-size: 16px;
		}

		.eshop-item {
			background: white;
			box-shadow: 0 2px 4px rgba(0,0,0,0.1);
			border-radius: 5px;
		}

		.eshop-product {
			display: flex;
			background: white;
			display: flex;
			flex-direction: column;
			padding: 20px;
			padding-top: 0;
		}

		.eshop-product img{
			border-radius: 5px;
			max-width: 100% !important;
			width: 100%;
		}

		.eshop-product nav{
			width: 100%;
			margin-top: -30px;
			text-align: center;
		}

		.eshop-product .circle{
			height: 10px;
			width: 10px;
			background: white;
			border-radius: 50%;
			margin: 5px;
			display: inline-block;
			opacity: 0.7;
		}

		.eshop-product .circle.active{
			opacity: 1;
		}

		.eshop-description {
			flex-grow: 1;
			color: #666;
			display: flex;
			flex-flow: wrap;
			text-align: left;
		}

		.eshop-description h1 {
			margin-top: 30px;
			margin-bottom: 0;
			font-family: "Josefin Sans";
		}

		.eshop-description h2 {
			font-size: 16px;
			margin: 0;
			color: #ff929e;
		}

		.eshop-item button {
			background: #ff668c;
			border: none;
			padding: 10px 20px;
			border-radius: 30px;
			text-transform: uppercase;
			color: white;
			font-weight: bold;
			box-shadow: 0 2px 4px rgba(0,0,0,0.1);
			margin-top: 10px;
			font-size: 12px;
		}

		.eshop-choice {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			padding: 0px 50px;
			margin-top: 30px;
			justify-content: center;
			color: #bbb;
		}

		.eshop-text {
			flex-grow: 1;
			max-width: 300px;
		}

		.color-circle {
			width: 15px;
			height: 15px;
			/*background: #ffd8e3;*/
			color: #ff6a82;
			display: inline-block;
			border-radius: 50%;
			margin: 0 3px;
			text-align: center;
		}

		.color-choice {
			display: flex;
			align-items: baseline;
		}


		.share {
			padding: 40px 50px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			position: relative;
			max-width: 500px;
			border: 1px solid #ddd;
			border-radius: 2px;
			font-family: "Noto Serif", serif;
		}

		.share-buttons {
			position: absolute;
			right: 30px;
			bottom: -15px;
			font-family: "Open Sans", sans-serif;
			display: flex;
			cursor: pointer;
			box-shadow: 0 2px 4px rgba(0,0,0,0.26);
		}

		.share-buttons:hover .share-button:not(.expanded){
			background: black;
			color: white;
		}

		.share-buttons:hover {
			color: white;
		}

		.share-button {
			width: 20px;
			height: 35px;
			border: none;
			box-shadow: none;
			text-transform: uppercase;
			background: #fff;
			color: #000;
			font-size: 18px;
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			margin: 0;
			cursor: pointer;
			border-radius: 0;
		}

		.share-button:focus, .share-button:active {
			outline: none;
			border: none;
		}

		.share-button .fa {
			opacity: 0;
		}

		.share-button.expanded {
			width: 35px;
		}

		.share-button.expanded:hover {
			background: black;
			color: white;
		}

		.share-button.expanded .fa{
			opacity: 1;
		}

		.share-button--share {
			background: none;
			padding: 10px 20px;
		}


		.share p {
			line-height: 1.6em;
		}

		.share p::first-letter {
		  float: left;
		  font-size: 88px;
		  line-height: 60px;
		  padding-top: 6px;
		  padding-right: 8px;
		  padding-left: 3px;
		}

		.share-text {
			position: absolute;
			top: 7px;
			left: 20px;
			text-transform: uppercase;
			font-size: 14px;
		}